.Navbar {
	display: flex;
	align-items: center;
	background-color: #30323d;
	color: white;
	justify-content: center;
	flex: 1;
	top: 0;
	position: sticky;
	width: 100%;
}

.Navbar__options {
	display: flex;
	width: 270px;
	font-weight: lighter;
	justify-content: space-evenly;
}
.Navbar__option {
	color: white;
	cursor: pointer;
	text-decoration: none;
	color: white;
	display: flex;
	text-decoration: none;
	align-items: center;
}
