.ChatRooms {
	min-height: 86vh;
	background: #f9f9f9;
	display: flex;
	justify-content: center;
	padding-top: 25px;
}
button.ChatRooms__createButton__button {
	display: flex;
	align-items: center;
	padding: 5px 15px;
	background: #30323d;
	border-radius: 6px;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
}
.ChatRooms__model__title {
	text-align: center;
	margin: 20px;
	font-weight: bold;
}

input.ChatRooms__model__input {
	width: 100%;
	border-radius: 5px;
	padding: 6px 5px;
	margin: 10px 0;
}
.ChatRooms__model {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button.ChatRooms__model__button {
	width: fit-content;
	padding: 5px 15px;
	border-radius: 6px;
	border: none;
	background: #30323d;
	color: white;
	font-weight: bolder;
}
